<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>rentsummary</title>
    <script type="text/javascript" src="../static/My97DatePicker/WdatePicker.js"></script>
</head>
<body style="align-content: center">
<div align="center">
    <h2>包括：www.allhomes.com.au, www.realestate.com.au, www.zango.com.au, www.domain.com.au</h2>
</div>

<div>
    <form action="/getrent" method="get" >
        <div>
            <div><h3>Localities</h3></div>
            REGION:
            <select name="REGION">
                <option value="canberra-act">canberra-act</option>
            </select>
            <!--&nbsp;&nbsp;&nbsp;
            DISTRICT:
            <select name="DISTRICT">
                <option value="greater-queanbeyan-queanbeyan-region-nsw">greater-queanbeyan-queanbeyan-region-nsw</option>
            </select>-->
        </div>
        <br>

        <div>
            <div>
                <h3>Property Types</h3>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>
                <input name="propertyTypes" type="checkbox" checked value="__ALL__">ALL
                <input name="propertyTypes" type="checkbox" value="HOUSE">House
                <input name="propertyTypes" type="checkbox" value="TOWNHOUSE">TOWNHOUSE
                <input name="propertyTypes" type="checkbox" value="UNIT">Unit / Apartment
                <input name="propertyTypes" type="checkbox" value="Rural">Rural
                <input name="propertyTypes" type="checkbox" value="Duplex">Duplex
                <input name="propertyTypes" type="checkbox" value="Studio">Studio
                <input name="propertyTypes" type="checkbox" value="Other">Other
            </div>
            <div><h3>Price</h3>
<!--                <input name="anyminprice" type="checkbox" value="anyminprice" checked>anyminprice-->
<!--                <input name="anymaxprice" type="checkbox" value="anymaxprice" checked>anymaxprice<br>-->
                Min Price:<input type="number" name="minprice" th:value="${requestPara.minprice}">---Max Price:<input type="number" name="maxprice" th:value="${requestPara.maxprice}">
            </div>
<!--            <div><h3>Date Available</h3>-->
<!--                <input name="anydate" type="checkbox" value="anydate" checked>Any Date-->
<!--                <br>-->
<!--                <select name="datetype">-->
<!--                    <option value="before">before</option>-->
<!--                    <option value="after">after</option>-->
<!--                </select>-->
<!--                <font color="green">Pick Date After: </font><input type="text" onClick="WdatePicker()" readonly="readonly"-->
<!--                                                             name="date" placeholder="2021-03-03">-->
<!--            </div>-->
            <div><h3>Bedrooms</h3>
                Min Bedrooms:<input type="number" name="minbedrooms" th:value="${requestPara.minbedrooms}">---Max Bedrooms:<input type="number" name="maxbedrooms" th:value="${requestPara.maxbedrooms}">
<!--                <input name="bedrooms" type="checkbox" value="0" checked>Any Bedrooms-->
<!--                <br>-->
<!--                <input name="bedrooms" type="checkbox" value="1">1 Bedrooms-->
<!--                <input name="bedrooms" type="checkbox" value="2">2 Bedrooms-->
<!--                <input name="bedrooms" type="checkbox" value="3">3 Bedrooms-->
<!--                <input name="bedrooms" type="checkbox" value="4">4 Bedrooms-->
<!--                <input name="bedrooms" type="checkbox" value="5">5+ Bedrooms-->
            </div>
            <div><h3>Bathrooms</h3>
                Min Bathrooms:<input type="number" name="minbathrooms" th:value="${requestPara.minbathrooms}">---Max Bathrooms:<input type="number" name="maxbathrooms" th:value="${requestPara.maxbathrooms}">

<!--                <input name="bathrooms" type="checkbox" value="0" checked>Any Bathrooms-->
<!--                <br>-->
<!--                <input name="bathrooms" type="checkbox" value="1">1 Bathroom-->
<!--                <input name="bathrooms" type="checkbox" value="2">2 Bathrooms-->
<!--                <input name="bathrooms" type="checkbox" value="3">3 Bathrooms-->
<!--                <input name="bathrooms" type="checkbox" value="4">4 Bathrooms-->
<!--                <input name="bathrooms" type="checkbox" value="5">5+ Bathrooms-->

            </div>
            <div><h3>Parking</h3>
                Min Parking:<input type="number" name="minparking" th:value="${requestPara.minparking}">---Max Parking:<input type="number" name="maxparking" th:value="${requestPara.maxparking}">


<!--                <input type="checkbox" name="parking" value="0" checked>Any Parking-->
<!--                <br>-->
<!--                <input type="checkbox" name="parking" value="1">1 Parking-->
<!--                <input type="checkbox" name="parking" value="2">2 Parking-->
<!--                <input type="checkbox" name="parking" value="3">3 Parking-->
<!--                <input type="checkbox" name="parking" value="4">4 Parking-->
<!--                <input type="checkbox" name="parking" value="5">5+ Parking-->
            </div>
        </div>
        <div>
            <div>
                <div><h3>Land Size</h3>
                    <div>
                        <input name="minlandsize" type="number" placeholder="0" th:value="${requestPara.minlandsize}">m<sup>2</sup>
                        ---
                        <input name="maxlandsize" type="number" placeholder="1000" th:value="${requestPara.maxlandsize}"> m<sup>2</sup>
                    </div>
                </div>
            </div>
<!--            <div style="display: none"><h3>Features</h3>-->
<!--                <input type="checkbox" name="Pets allowed" value="1">Pets allowed-->
<!--                <input type="checkbox" name="Built in wardrobes" value="2">Built in wardrobes-->
<!--                <input type="checkbox" name="Gas" value="3">Gas-->
<!--                <input type="checkbox" name="Garden / courtyard" value="4">Garden / courtyard-->
<!--                <input type="checkbox" name="alcony / deck" value="5">Balcony / deck-->
<!--                <input type="checkbox" name="Internal laundry" value="5">Internal laundry-->
<!--                <input type="checkbox" name="Study" value="5">Study-->
<!--                <input type="checkbox" name="Furnished" value="5">Furnished-->
<!--                <input type="checkbox" name="Dishwasher" value="5">Dishwasher-->
<!--            </div>-->

        </div>
<!--        <div style="display: none"><h3>New/Established</h3>-->
<!--            <select name="newestablished">-->
<!--                <option value="0" checked>Any</option>-->
<!--                <option value="1">New</option>-->
<!--                <option value="2">established</option>-->
<!--            </select>-->
<!--        </div>-->
        <div><h3>Keywords</h3>
            <div><input name="keywords" type="text" placeholder="e.g. waterfront, views, street name">
            </div>
        </div>
</div>
<br>
<div>
    <button type="submit">search</button>
    <button type="reset">reset</button>
</div>
</form>
</div>

<br>
<div>
    <h3>www.allhomes.com.au查询数据</h3>
    <br>
    <p th:utext="${allhomesSearchList}" th:remove="tag"></p>
    <!--第一层循环-->
<!--    <div th:each="list : ${allhomesSearchList}">-->
<!--        &lt;!&ndash;第二层循环&ndash;&gt;-->
<!--&lt;!&ndash;        <a th:each="listing : ${list.listing}">&ndash;&gt;-->
<!--&lt;!&ndash;            <span th:text="${listing.url}">文章的分类们</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <table border="1"  style="border-collapse: collapse">-->
<!--            <th>url</th>-->
<!--            <th>title</th>-->
<!--            <th>firstImage</th>-->
<!--            <th>priceLabel</th>-->
<!--            <th>numPhotos</th>-->
<!--            <th>has3dTour</th>-->
<!--            <th>hasVideo</th>-->
<!--            <th>badges</th>-->
<!--            <th>events</th>-->
<!--            <th>publicVisibleDate</th>-->
<!--            <th>relistedDate</th>-->
<!--            <tr th:each="list : ${list.listing}">-->
<!--                <td th:text="${list.url}"/>-->
<!--                <td th:text="${list.title}"/>-->
<!--                <td th:text="${list.firstImage}"/>-->
<!--                <td th:text="${list.priceLabel}"/>-->
<!--                <td th:text="${list.numPhotos}"/>-->
<!--                <td th:text="${list.has3dTour}"/>-->
<!--                <td th:text="${list.hasVideo}"/>-->
<!--                <td th:text="${list.badges}"/>-->
<!--                <td th:text="${list.events}"/>-->
<!--                <td th:text="${list.publicVisibleDate}"/>-->
<!--                <td th:text="${list.relistedDate}"/>-->
<!--            </tr>-->
<!--        </table>-->


<!--        <table border="1"  style="border-collapse: collapse">-->
<!--            <th>suppression</th>-->
<!--            <th>street</th>-->
<!--            <th>division</th>-->
<!--            <th>state</th>-->
<!--            <th>postcode</th>-->
<!--            <th>coordinates</th>-->
<!--            <tr th:each="address : ${list.address}">-->
<!--                <td th:text="${address.suppression}"/>-->
<!--                <td th:text="${address.street}"/>-->
<!--                <td th:text="${address.division}"/>-->
<!--                <td th:text="${address.state}"/>-->
<!--                <td th:text="${address.postcode}"/>-->
<!--                <td th:text="${address.coordinates}"/>-->
<!--            </tr>-->
<!--        </table>-->

<!--        <table border="1"  style="border-collapse: collapse">-->
<!--            <th>types</th>-->
<!--            <th>beds</th>-->
<!--            <th>baths</th>-->
<!--            <th>cars</th>-->
<!--            <th>size</th>-->
<!--            <th>features</th>-->
<!--            <tr th:each="property : ${list.property}">-->
<!--                <td th:text="${property.types}"/>-->
<!--                <td th:text="${property.beds}"/>-->
<!--                <td th:text="${property.baths}"/>-->
<!--                <td th:text="${property.cars}"/>-->
<!--                <td th:text="${property.size}"/>-->
<!--                <td th:text="${property.features}"/>-->
<!--            </tr>-->
<!--        </table>-->

<!--        <table border="1"  style="border-collapse: collapse">-->
<!--            <tr>-->
<!--                <th>id</th>-->
<!--                <th>type</th>-->
<!--                <th>name</th>-->
<!--            </tr>-->
<!--            <tr th:each="agency : ${list.agency}">-->
<!--                <td th:text="${agency.id}"/>-->
<!--                <td th:text="${agency.type}"/>-->
<!--                <td th:text="${agency.name}"/>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
</div>

<div>
    <h3>www.domain.com.au查询数据</h3>
    <br>
    <p th:utext="${domain}" th:remove="tag"></p>
</div>

<div>
    <h3>www.realestate.com.au查询数据</h3>
    <br>
    <p th:utext="${realestate}"></p>
</div>

<div>
    <h3>www.zango.com.au查询数据</h3>
    <br>
    <p th:utext="${zango}"></p>
</div>
</body>
</html>